.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: auto;
  padding-bottom: auto;
}

h1 {
  text-align: center;
}

.buttons {
  flex-direction: row;
  justify-content: baseline;
}
